*{
    box-sizing: border-box;
    text-decoration: none;
    
}
.img-city  {
    background-image: url("../img/hero-image.jpg");
    background-position: top;
    background-size:cover;
    
}



  


section {
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
}
section> p {
    padding: 0 300px 0 300px;
}


h2, h3, h1 span{
    color: #e74c3c;
    text-align: center;
}
footer {
    background-color: #e74c3c;
    height: 200px;
}
footer img {
    display: flex;
   padding-top: 150px;
}

   


